%h1 Listing workspace_layers

%table
  %thead
    %tr
      %th Workspace
      %th Layer
      %th Position
      %th
      %th
      %th

  %tbody
    - @workspace_layers.each do |workspace_layer|
      %tr
        %td= workspace_layer.workspace
        %td= workspace_layer.layer
        %td= workspace_layer.position
        %td= link_to 'Show', workspace_layer
        %td= link_to 'Edit', edit_workspace_layer_path(workspace_layer)
        %td= link_to 'Destroy', workspace_layer, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Workspace layer', new_workspace_layer_path
