%h1 Listing view_layers

%table
  %thead
    %tr
      %th Workspace
      %th Layer
      %th Position
      %th
      %th
      %th

  %tbody
    - @view_layers.each do |view_layer|
      %tr
        %td= view_layer.view
        %td= view_layer.layer
        %td= view_layer.position
        %td= link_to 'Show', workspace_view_view_layer_path(@workspace, @view, view_layer)
        %td= link_to 'Edit', edit_workspace_view_view_layer_path(@workspace, @view, view_layer)
        %td= link_to 'Destroy', workspace_view_view_layer_path(@workspace, @view, view_layer), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New View layer', new_workspace_view_view_layer_path(@workspace, @view)
