= simple_form_for(@dataset) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :description
    = f.input :source
    = f.input :version

  .form-actions
    = f.button :submit
