= simple_form_for(@workspace) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

    = f.input :center_lat
    = f.input :center_lng
    = f.input :zoom

    = f.input :presenter_id

  .form-actions
    = f.button :submit
