= render 'overlay_layer', layer: { name: 'GINA BestDataLayer', url: 'http://tiles.gina.alaska.edu/tilesrv/bdl/tile/{x}/{y}/{z}', type: 'tile'  }
= render 'overlay_layer', layer: { name: 'GINA Orthomosaic RGB', url: 'http://tiles.gina.alaska.edu/tiles/SPOT5.SDMI.ORTHO_RGB/tile/{x}/{y}/{z}', type: 'tile'  }
= render 'overlay_layer', layer: { name: 'GINA Orthomosaic CIR', url: 'http://tiles.gina.alaska.edu/tiles/SPOT5.SDMI.ORTHO_CIR/tile/{x}/{y}/{z}', type: 'tile'  }
= render 'overlay_layer', layer: { name: 'GINA Topographic Maps', url: 'http://tiles.gina.alaska.edu/tilesrv/drg/tile/{x}/{y}/{z}', type: 'tile'  }
= render 'overlay_layer', layer: { name: 'IMIQ Sites', url: 'http://imiq-api.gina.alaska.edu/sites.geojson?limit=5000', type: 'geojson', color: 'rgba(247, 173, 89, 0.8)'  }
= render 'overlay_layer', layer: { name: 'KML Test', url: '/wc.kml', type: 'kml', color: 'rgba(86, 106, 216, 0.8)'  }
