.row
  .col-sm-3
    = link_to 'New Workspace', new_workspace_path, class: 'btn btn-success btn-block'
    %br/
    = form_tag '/workspaces', method: 'get' do
      .form-group
        .input-group
          = text_field_tag :q, params['q'], placeholder: 'Search by name', class: 'form-control'
        
          .input-group-btn
            = button_tag type: 'submit', class: 'btn btn-primary' do
              %i.fa.fa-search
  .col-sm-9
    .panel.panel-default
      .panel-body
        %h2 Workspace List
        - if @workspaces.blank?
          .text-center
            %h1 no workspaces found
            = link_to 'create a new workspace', new_workspace_path, class: 'btn btn-success btn-lg navbar-btn'

        - else
          %table.table.table-striped.table-condensed
            %thead
              %tr
                %th Name
                %th.text-right Actions

            %tbody
              - @workspaces.each do |workspace|
                %tr
                  %td= workspace.name
                  %td.text-right
                    .btn-groups
                      = link_to 'Launch', workspace, class: 'btn btn-default'
