%p#notice= notice

%p
  %b User:
  = @user.user_id
%p
  %b Ckan api key:
  = @user.ckan_api_key
%p
  %b Name:
  = @user.name
%p
  %b Group:
  = @user.group

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
