= render "carousel"
.search-buttons.btn-group.btn-group-lg.btn-group-justified{ role: 'group' }
  = link_to ckan_url('dataset?q=Weather'), class: 'btn btn-default' do
    = image_tag image_path('Storm.png'), class: 'img-responsive'
    Weather
  = link_to ckan_url('dataset?q=Oceans'), class: 'btn btn-default' do
    = image_tag image_path('oceans.png'), class: 'img-responsive'
    Oceans
  = link_to ckan_url('dataset?q=Sea+Ice'), class: 'btn btn-default' do
    = image_tag image_path('Sea_Ice.png'), class: 'img-responsive'
    Sea Ice
  = link_to ckan_url('dataset?q=Snow'), class: 'btn btn-default' do
    = image_tag image_path('Renewable_Energy.png'), class: 'img-responsive'
    Snow
  = link_to ckan_url('dataset?q=Terrestrial'), class: 'btn btn-default' do
    = image_tag image_path('Sea_Ice.png'), class: 'img-responsive'
    Terrestrial
  = link_to ckan_url('dataset?q=Hydrology'), class: 'btn btn-default' do
    = image_tag image_path('hydrology.png'), class: 'img-responsive'
    Hydrology
  = link_to ckan_url('dataset?q=Hazards'), class: 'btn btn-default' do
    = image_tag image_path('hazards.png'), class: 'img-responsive'
    Hazards
  = link_to ckan_url('dataset?q=Infrastructure'), class: 'btn btn-default' do
    = image_tag image_path('infrastructure1.png'), class: 'img-responsive'
    Infrastructure

.row
  .col-sm-9
    .well-sm.well
      %p
        ACE is jointly developed by National Aeronautics and Space Administration NASA, U.S. European Command USEUCOM, Von Braun Center for Science and Innovation VCSI, North American Aerospace Defense Command NORAD / U.S. Northern Command USNORTHCOM, University of Alaska Fairbanks UAF and University of Alabama in Huntsville UAH.
    .row-fluid
      .col-sm-4.text-center
        .btn.btn-default.btn-block
          %span.text Most Popular Datasets

      .col-sm-4.text-center
        .btn.btn-default.btn-block
          %span.text Recently Added Datasets

      .col-sm-4.text-center
        .btn.btn-default.btn-block
          %span.text Popular Groups


  .col-sm-3
    .img-preview.thumbnail
      %h4.text-center Current Daily Seaice Concentration
      = image_tag("http://nsidc.org/data/seaice_index/images/daily_images/N_bm_conc.png")

    .img-preview.thumbnail
      %h4.text-center Arctic Cap Nowcast/Forecast
      = image_tag("http://www7320.nrlssc.navy.mil/hycomARC/navo/arcticicespddrf_nowcast_anim30d.gif")
