- unless layer.ckan_id.nil?
  - metadata = parse_layer_api_metadata(layer)
- active ||= false
.layer.list-group-item{ class: active ? 'active': '', data: { name: layer.name, type: layer.maptype, layers: layer.params, url: layer.full_url, color: layer.style.try(:[], 'color') } }
  .layer-handle{ draggable: "true", data: { toggle: 'layer' } }
    &nbsp;

  .layer-controls{ data: { toggle: 'layer' } }
    %span.layer-label
      = overlay_icon(layer)
      %abbr{title:layer.name}= layer.name

  .layer-buttons.btn-group.btn-group-sm.hide-collapsed
    .btn.btn-default{ data: { toggle: 'collapse', target: dom_id(layer, '#info') }, title: layer.name }
      %i.fa.fa-gear
    .btn.btn-default{ data: { behavior: 'move-layer-down' } }
      %i.fa.fa-caret-down
    .btn.btn-default{ data: { behavior: 'move-layer-up' } }
      %i.fa.fa-caret-up


  .hide-collapsed.collapse{ id: dom_id(layer, 'info')  }
    .layer-settings
      .setting-group
        %label Opacity:
        %input{ name: 'opacity', type: 'range', min: 0, max: 100, step: 0, value: 100, data: { adjust: 'opacity', layer: layer.name } }
      .setting-group.text-center
        %button.btn.btn-default.btn-sm.btn-block{ data: { toggle: 'layer'} }
          Toggle layer
      - unless metadata.blank?
        .setting-group
          %dl
            %dt Title
            %dd
              = "#{metadata['title']}"
            %dt Description
            %dd
              = "#{metadata['description']}"
            %dt Organization
            %dd
              = "#{metadata['organization']['title']}"
