%table.table
  %tr
    %td Title
    %td
      = "#{metadata['title']}"
  %tr
    %td Description
    %td
      = "#{metadata['description']}"
  %tr
    %td Organization
    %td
      = "#{metadata['organization']['title']}"
