.list-group
  = link_to workspaces_path, class: 'list-group-item' do
    %i.fa.fa-fw.fa-arrow-left
    %span.hide-collapsed Close

  = link_to edit_workspace_view_path(@workspace, @view), class: 'list-group-item' do
    %i.fa.fa-fw.fa-gear.loading
    %span.hide-collapsed Settings

%h5.text-left
  .hide-collapsed Layers
.list-group
  = link_to '#style-list', class: 'list-group-item', data: { toggle: 'collapse' } do
    %i.fa.fa-fw.fa-globe
    %span.hide-collapsed Base Layer
    .pull-right.hide-collapsed
      %i.fa.fa-caret-left.rotatable

  #style-list.list-group.sub.collapse
    = render 'map_baselayers'

  = link_to '#overlay-layer-list', class: 'list-group-item', data: { toggle: 'collapse' } do
    %i.fa.fa-fw.fa-map-o
    %span.hide-collapsed Overlays
    .pull-right.hide-collapsed
      %i.fa.fa-caret-left.rotatable
  #overlay-layer-list.list-group.sub.collapse.overlay-list
    = render 'overlays'
