%nav.navbar.navbar-inverse.navbar-static-top{ style: 'margin-bottom: 0px;'}
  .container-fluid
    .btn-toolbar
      .btn-group.btn-group-sm
        %button.btn.btn-default.navbar-btn{ title: 'Toggle sidebar', data: { toggle: 'auto-collapse' } }
          %i.fa.fa-columns

        %button.btn.btn-default.navbar-btn{ title: 'Toggle perspective', data: { toggle: 'perspective' } }
          %i.fa.fa-street-view

      .btn-group.btn-group-sm
        %button.btn.btn-default.navbar-btn{ title: 'Presenter', data: { toggle: 'presenter' } }
          %i.fa.fa-user

      .btn-group.btn-group-sm
        %button.btn.btn-default.navbar-btn{ title: 'Graticule Toggle', data: { toggle: 'graticule' } }
          %i.fa.fa-table

      .btn-group.btn-group-sm
        %button.btn.btn-default.navbar-btn.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown', behavior: 'map-view-picker' } }
          %i.fa.fa-fw{ class: params[:view] == '3d' ? 'fa-globe' : 'fa-map-o' }
          %span.caret

        %ul.dropdown-menu
          %li
            = link_to workspace_view_path(@workspace, @view, {view: '2d'}) do
              Web mercator
          %li
            = link_to workspace_view_path(@workspace, @view, {view: '3d'}) do
              Globe

      .btn-group.btn-group-sm
        %button.btn.btn-default.navbar-btn.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, title: 'View Menu' }
          %i.fa.fa-tv
          View: #{@view.name}
          %span.caret

        %ul.dropdown-menu
          %li
            = link_to duplicate_workspace_view_path(@workspace) do
              Duplicate this view
          %li.divider{ role: 'separator' }

          - @workspace.views.each do |view|
            %li
              = link_to view.name, workspace_view_path(@workspace, view)

      %i.fa.fa-spinner.loading.navbar-text{ style: 'font-size: 20px;'}

      .pull-right
        %button.btn.btn-sm.btn-default.navbar-btn{ data: { toggle: 'dropdown' } }
          %i.fa.fa-refresh
          Auto-Sync
          %span.caret

        %ul.dropdown-menu.dropdown-menu-right
          %li
            = link_to '#', class: 'active', data: { toggle: 'workspace.sync', type: 'movement' } do
              %i.fa.fa-check-square-o.toggle-checkbox
              Movement
          %li
            = link_to '#', class: 'active', data: { toggle: 'workspace.sync', type: 'layers' } do
              %i.fa.fa-check-square-o.toggle-checkbox
              Layers
