%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Arctic Collaborative Environment', root_url, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', '#'
        %li= link_to 'About', page_path('about')
        %li= link_to 'Groups', page_path('groups')
        %li= link_to 'Workspace', workspaces_path
        %li= link_to 'Datasets', page_path('datasets')
        %li= link_to 'Help', page_path('help')
