%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', data: { toggle: 'collapse', target: '#navbar' }}
        %span.sr-only Toggle Navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Arctic Collaborative Environment', root_path, class: 'navbar-brand'
    #navbar.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', root_path
        %li= link_to 'About', page_path('about')
        %li= link_to 'User Groups', ckan_url('group')
        %li= link_to 'Data Providers', ckan_url('organization')
        %li= link_to 'Catalog', ckan_url('dataset')
        -if user_signed_in?
          %li= link_to 'Workspaces', workspaces_path
        %li= link_to 'Help', page_path('help')

- rootUrl = 'http://ace.rdidev.com'


%header.account-masthead
  .container-fluid
    -if user_signed_in?
      .account.avatar.authed{data: {module: "me", me: "**user-token**"}}
        %ul.unstyled
          %li
            %a{href: "#{rootUrl}/ckan-admin", title: ""}
              %i{class: "fa fa-legal", "aria-hidden": "true"}
                %span.text
                  ADMIN_VARIABLE

          %li
            -if current_user != nil
              %a{href: "#{rootUrl}/user/#{current_user.username}", class: "image", title: "View Profile"}
                %img.gravatar{width: 22, height: 22, src: "//gravatar.com/avatar/40b9bdd575600162e3b76ab6db429f69?s=22&d=identicon"}
                  %span.username
                    = current_user.fullname
            -else
              %a{href: "#{rootUrl}/user/-no-user-", class: "image", title: "View Profile"}
                %img.gravatar{width: 22, height: 22, src: "//gravatar.com/avatar/40b9bdd575600162e3b76ab6db429f69?s=22&d=identicon"}
                  %span.username
                    Unknown User

          %li.notifications
            //set_notification_tooltip
            %a{href:"#{rootUrl}/dashboard", title:"Dashboard (0 new items)"}
              %i{class:"fa fa-dashboard", "aria-hidden": "true"}
                %span.text
                  Dashboard
                %span.badge
                  0

          %li
            -if current_user != nil
              %a{href: "#{rootUrl}/user/edit/#{current_user.username}", title:"Edit Settings"}
                %i.fa.fa-cog{"aria-hidden": "true"}
                  %span.text
            - else
              %a{href: "#{rootUrl}/user/edit/-no-user-", title:"Edit Settings"}
                %i.fa.fa-cog{"aria-hidden": "true"}
                  %span.text


          %li
            :javascript
              // Popup window code
              function newPopup(url) {
                popupWindow = window.open(url,'popUpWindow','height=425,width=355,top=50,left=100,resizable=no,scrollbars=no,toolbar=no,menubar=no,location=no,directories=no,status=yes')
              }
            %a{href: "Javascript: newPopup('#{rootUrl}/chat')"}
              Open Chat Pop-Up

          %li
            = link_to "#{rootUrl}:3000/users/sign_out", method: 'delete', title:"Sign out" do 
              Logout 
              %i.fa.fa-sign-out{"aria-hidden": "true"}
    -else
      %nav.account.not-authed
        %ul
          %li
            %a{href: "#{rootUrl}:3000/users/sign_in"}
              Log In
          %li
            %a.sub{href: "#{rootUrl}/user/register"}
              Register

