!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Arctic Collaborative Environment
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/analytics'
    %section.site-header
      = render 'layouts/header'
    .container.site-content
      %section
        = yield
    %section.site-footer
      .footer-wrapper
        = image_tag 'ace_logo.png', class: 'ace-logo'

        %p
          ACE Proudly Partners with
          %br/
          = image_tag 'exact_earth.png'

      .site-cookie
        This site uses cookies to improve your experience.
