!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Arctic Collaborative Environment
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css', 'data-turbolinks-track': 'reload'
  %body
    %section.site-header
      = render 'layouts/header'
    = yield
